#banner{
    background-color: #0e3c84;
    height: 160px;
}
#banner > div{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
#banner .prev{
    position: absolute;
    left: 0;
    top: 42px;
}
#banner .next{
    position: absolute;
    right: 0;
    top: 42px;
}
#banner .control{
    position: absolute;
    left: 0;
    bottom: 11px;
    margin-right: 15px;
}
#banner .close{
    position: absolute;
    right: 0;
    bottom: 4px;
}
#banner .close label{
    font-size: 11px;
    color: white;
    padding-right: 22px;
}